<!DOCTYPE html>
<html dir="rtl" lang="he">
<style>
table,th,td {
  border : 1px solid black;
  border-collapse: collapse;
}
th,td {
  padding: 10px;
}
</style>
<head>
  <title>Ynet Head News</title><meta charset="utf-8"/>
</head>

<body>
<button type="button" onclick="loadXMLDoc()">Get Tody's News</button>
<br><br>
<table id="demo"></table>

<script>
function loadXMLDoc() {
  const xhttp = new XMLHttpRequest();
  xhttp.onload = function() {
    const xmlDoc = xhttp.responseXML;
    const items = xmlDoc.getElementsByTagName("item");
    myFunction(items)
  }
  xhttp.open("GET", "/static/file.xml");
  xhttp.send();
}

function myFunction(item) {
  let table="<tr><th>title</th><th>description</th><th>link</th><th>pubDate</th><th>guid</th><th>tags</th></tr>";
  for (let i = 0; i < item.length; i++) { 
    table += "<tr><td>" +
    item[i].getElementsByTagName("title")[0].childNodes[0].nodeValue +
    "</td><td>" +
    item[i].getElementsByTagName("description")[0].childNodes[0].nodeValue +
    "</td><td>"
    +
    item[i].getElementsByTagName("link")[0].childNodes[0].nodeValue +
    "</td><td>"
    +
    item[i].getElementsByTagName("pubDate")[0].childNodes[0].nodeValue +
    "</td><td>"
    +
    item[i].getElementsByTagName("guid")[0].childNodes[0].nodeValue +
    "</td><td>" +
    item[i].getElementsByTagName("tags")[0].childNodes[0].nodeValue +
    "</td></tr>";
  }
  document.getElementById("demo").innerHTML = table;
}
</script>

</body>
</html>
